<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@player.category_id).description %>
</p>

<%= link_to 'Edit', edit_admin_player_path(@player) %> |
<%= link_to 'Back', admin_players_path %>
