<section id="homepage-hero">

  <div class="row">
    <div class="medium-7 large-6 columns">
      <h1 class="gotham-regular">TicketFinders</h1><br>
      <h3 class="gotham-light">Where will you go?</h3>
      <br>
    </div>
  </div>

</section>
