<h2>Admin Interface</h2>

<%= link_to 'Categories', controller: 'categories' %><br />

<% @categories.each do |category| %>
  <%= category.description %> <br />
<% end %><br />

<%= link_to 'Competitions', controller: 'competitions' %><br />

<% @competitions.each do |competition| %>
  <%= competition.name %> <br />
<% end %><br />
