<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @message.name %>, just sent you a message on ticket-finders.com</h1>
    <p>
      <%= @message.body %>
    </p>
  </body>
</html>
