<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>TicketFinders</h2>
    <h3><%= @message.name %> said..</h3>
    <p>
      <%= @message.body %>
    </p>
  </body>
</html>
