body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.inline {
  display: inline-block;
  padding: 10px;
}

.flash {
  color: #4F8A10;
  background-color: #DFF2BF;
  margin: 10px;
  padding:12px;
  border-radius:.5em;
}
