/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .

 */

 @import 'foundation-icons';
 @font-face { font-family: 'gotham'; src: font-url('Gotham-Light.otf'); }
 @font-face { font-family: 'gotham-light'; src: font-url('GothamExLight.otf'); }
 @font-face { font-family: 'gotham-bold'; src: font-url('Gotham-Bold.otf'); }
 .gotham-regular { font-family: 'gotham'; }
 .gotham-light { font-family: 'gotham-light'; }
 .gotham-bold { font-family: 'gotham-bold'; }
 .top-bar .name a { color: #2D669A !important; }
 /* Add more browser kits for these */
 ::-webkit-input-placeholder {
   font-weight: 100;
   text-align: center;
 }
 :focus::-webkit-input-placeholder {
   color: #BEBEBE;
   text-align: left;
 }
 .greyed { background-color: #F7F7F7; }
 .blued { background-color: #2D669A; }

/* Footer styling */
.full-width { max-width: 1400px; }
.footer {
  background-color: #2D669A;
  padding: 2rem 4rem;
  text-align: center;
  color: #FFFFFF;
}
.footer .big { font-size: 60px; }
.footer .small-icon { font-size: 30px; }
.footer h4 {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #FFFFFF;
}
@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer h5 { margin-top: .5em; }
