 #homepage-hero {
    background-color: #2D669A;
    height: 470px;
    padding: 100px 20px 0;
    position: relative;
    text-align: left;
}

#homepage-hero h1 {
    color: #FFFFFF;
    font-size: 4em;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 0;
}

#homepage-hero h3 {
    color:#FFFFFF;
}

.grey-bg {
    background-color: #FBFBFB;
    padding: 60px 0 60px 0;
    position: relative;
    text-align: center;
}

 .tiles {
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    height: 180px;
}

.inner-tile {
    padding: 25px;
}

.headline {
    color: #2D669A;
    font-family: 'gotham-bold';
    padding-bottom: 10px;
}

.spacer {
    border-bottom: 1px solid #2D669A;
}

/*add this to homepage hero class for image
background: url("path to image") repeat scroll 0 0 #074E68;
*/
