<section class="grey-bg">

  <div class="row">
    <div class="small-12 columns">
      <% @categories.each do |category| %>
        <%= link_to "#{category.description}", category_path(category) %><br />
      <% end %>
    </div>
  </div>

</section>

