<div class="row">
  <h1 class="gotham-regular"><%= @category.description %></h1>
</div>

<section class="grey-bg">

  <div class="row">
    <% @events.each do |event| %>
      <%= event.name %><br />
    <% end %>
  </div>

</section>
